* {
  box-sizing: border-box;
}

body {
  background-image: url('https://img.itch.zone/aW1hZ2UvNDM1NjE3LzIxODQ3NTYuanBn/original/txVoRA.jpg');
  /* background-image: url('https://img.freepik.com/free-photo/8-bit-graphics-pixels-scene-with-nature_23-2151120965.jpg?t=st=1714830967~exp=1714834567~hmac=ba4e7f26890c5b596407f2895aa4d3bad682a79f72de378148de9b309d3f17dd&w=1380'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #76c893;
  text-align: center;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

h4 {
  color: wheat;
  font-size: 20px;
  letter-spacing: 10px;
  margin-bottom: 30px;

  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1 {
  font-size: 50px;
  color: #8b4513;
  margin-top: -20px;

  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.rules-container {
  background-color: #603b21b2;
  color: wheat;

  font-weight: 800;
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  width: 60vh;
  height: 190px;
  margin: auto;

  border-radius: 0px 20px;
}

.rules-btn {
  width: 120px;
  border: solid 4px #8b4513;
  border-radius: 20px;
  cursor: pointer;
}

.rules-btn:active {
  background-color: #febb8b;
}

.board-container {
  margin: 40px auto;
  border: solid 4px #8b4513;
  border-radius: 0px 20px;
  background-color: #bc8f8f;
  padding: 10px;
}

.cell {
  font-size: 15px;

  width: 40px;
  height: 40px;
  background-color: #7cfc00;
  border: solid 2px #8b4513;
  cursor: pointer;
}

.cell:active {
  background-color: #76c893;
}

h2,
.time {
  display: inline;
  margin: 0 10px;

  background-color: #a769329d;
  border: solid #8b4513 3px;
  border-radius: 700px;
  color: white;
  padding: 10px 10px;
  cursor: not-allowed;
  margin-top: 30px;
}

h2,
.mine-count {
  display: inline;
  margin: 0 10px;

  background-color: #a76932;
  border: solid #8b4513 3px;
  border-radius: 700px;
  color: white;
  padding: 10px 10px;
  cursor: not-allowed;
  margin-top: 20px;
}

.restart-btn {
  font-size: 50px;
  background-color: #76c89300;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: 300ms;
}

.diff {
  background-color: #f4a460;
  color: white;

  border: solid #8b4513 3px;
  border-radius: 700px;

  font-size: 16px;
  font-family: 'Comic Sans MS', cursive, sans-serif;

  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  transition: 300ms;
}

.diff:hover {
  background-color: #d2691e;
}

.diff:active {
  background-color: #603b21;
}

.selected {
  background-color: #6bc089;
}

.selected2 {
  background-color: yellow;
}

.marked {
  background-color: rgb(89, 194, 255);
}

.lose-container {
  background-color: red;
}

.win-container {
  background-color: yellow;
}

.life-container {
  background-color: #bc8f8f;
  width: 150px;
  font-size: 25px;

  margin: auto;
  margin-top: -35px;
  margin-bottom: 30px;

  border: solid 4px #8b4513;
  border-radius: 20px 0px;
}

.safe-click-container {
  background-color: #5ab400;
  color: white;

  border: solid #8b4513 3px;
  border-radius: 700px;

  font-size: 16px;
  font-family: 'Comic Sans MS', cursive, sans-serif;

  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  transition: 300ms;
}

.safe-click-container:hover {
  background-color: #499200;
}

.safe-click-container:active {
  background-color: #274f00;
}

.selected-safe {
  background-color: #499200;
}

footer {
  width: 400px;
  margin: auto;
  cursor: crosshair;
}
