* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

:root {
  --clr-main: #8b4513;
}

body {
  background-image: url('https://img.itch.zone/aW1hZ2UvNDM1NjE3LzIxODQ3NTYuanBn/original/txVoRA.jpg');
  background-color: #76c893;

  text-align: center;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

footer p,
hgroup p {
  margin-bottom: 40px;

  color: wheat;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 10px;

  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1 {
  font-size: 50px;
  color: var(--clr-main);

  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.rules-container {
  width: 60vw;

  padding: 3px;
  background-color: #603b21b2;
  border-radius: 0px 20px;
  margin: auto;

  color: wheat;
  font-weight: 800;

  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.rules-btn {
  padding: 3px 30px;
  border: solid 4px var(--clr-main);
  border-radius: 20px;

  cursor: pointer;
}

.rules-btn:active {
  background-color: #febb8b;
}

.board-container {
  padding: 10px;
  background-color: #bc8f8f;
  margin: 40px auto;
  border: solid 4px var(--clr-main);
  border-radius: 0px 20px;
}

.cell {
  width: 2.5rem;
  height: 2.5rem;

  background-color: #7cfc00;
  border: solid 2px var(--clr-main);

  font-size: 0.94rem; /* 15px = (15 / 16)rem */
  cursor: pointer;
}

.cell:active {
  background-color: #76c893;
}

h2 {
  display: inline;

  padding: 10px;
  background-color: #a76932;
  border: solid var(--clr-main) 3px;
  border-radius: 100vh;
  margin: 20px 10px 0;

  color: white;
  cursor: not-allowed;
}

.restart-btn {
  padding-inline: 20px;
  background-color: transparent;
  border: none;
  margin-block-start: 20px;

  font-size: 50px;
  cursor: pointer;
}

.life-container {
  background-color: #bc8f8f;
  width: 150px;
  font-size: 25px;

  margin: auto;
  margin-top: -30px;
  margin-bottom: 30px;

  border: solid 4px var(--clr-main);
  border-radius: 20px 0px;
}

.btn-skill {
  padding: 10px 20px;
  background-color: #f4a460;
  border: solid var(--clr-main) 3px;
  border-radius: 100vh;
  margin: 10px;

  color: white;
  font-size: 1rem;
  font-family: 'Comic Sans MS', cursive, sans-serif;

  cursor: pointer;
  transition: background-color 300ms;
}

.btn-skill:hover {
  background-color: #d2691e;
}

.btn-skill:active {
  background-color: #603b21;
}

.selected {
  background-color: #6bc089;
}

.mine {
  background-color: yellow;
}

.marked {
  background-color: rgb(89, 194, 255);
}

.lose-container {
  background-color: red;
}

.win-container {
  background-color: yellow;
}

.hint-container {
  padding: 10px 20px;
  background-color: #6f5912;
}

.hint-container:hover {
  background-color: #57460e;
}

.hint-container:active {
  background-color: #4c3d0d;
}

.selected-hint {
  background-color: #923300;
}

.safe-click-container {
  background-color: #5ab400;
}

.safe-click-container:hover {
  background-color: #499200;
}

.safe-click-container:active {
  background-color: #274f00;
}

.selected-safe {
  background-color: #499200;
}
